[client]
#password	= your_password
port		= 3306
socket		= /run/mysqld/mysqld.sock

# The MariaDB server
[mysqld]
skip-name-resolve
skip-external-locking
port		= 3306
socket		= /run/mysqld/mysqld.sock
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
query_cache_size = 10M
join_buffer_size = 128K
# Point the following paths to different dedicated disks
#tmpdir		= /dev/mysql/
innodb_doublewrite = 0
innodb_read_io_threads=4
innodb_write_io_threads=8
innodb_buffer_pool_size=100M
innodb_file_per_table=1
skip-innodb_doublewrite
thread_handling=pool-of-threads
thread_pool_max_threads=400
tmp_table_size = 64M                                         
max_heap_table_size = 64M
table_cache = 4000

query_cache_type = 1
query_cache_limit = 256K
query_cache_min_res_unit = 2k
query_cache_size = 80M

max_connections = 400

wait_timeout=60
#skip-networking

# Replication Master Server (default)
# binary logging is required for replication
#log-bin=mysql-bin

# binary logging format - mixed recommended
#binlog_format=mixed

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 1

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

